body {
  margin: 0;
  font-family: sans-serif;
  color: #000000; 
  padding-top: 60px;
  min-height: 100vh;
  background: linear-gradient(180deg, #181717 0%, #181717 45%, #160000 100%);
}

.separador {
  border: none;            
  height: 2px;              
  background-color: rgba(255, 255, 255, 0.2); 
  margin: 40px auto;       
  width: 60%;               
}

#sinopse + p {
  text-align: center;
  color: #ccc;    
  font-size: 16px;  
  max-width: 700px;   
  margin: 20px auto;  
}

h1 {
  text-align: center;
  color: #eee;
  text-shadow: 0 0 2px #000; 
}

h1, p {
  font-family: Georgia, serif;
  font-weight: 300; 
}

/*NAVEGAÇÃO*/
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #111111; 
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0; 
  z-index: 1000;
}

.top-nav a {
  text-decoration: none;
  color: #ccc;
  font-size: 0.9rem;
  transition: color 0.2s ease;
}

.top-nav a:hover {
  color: #701622;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.misterio {
  font-size: 18px;
  color: #f3f1f1;
  animation: piscar 1s infinite;
}
@keyframes piscar {
  50% { opacity: 0.2; }
}

/*VIDEO*/
video {
  display: block;
  margin: 0 auto;
}

/*ELENCO*/
.elenco {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px 0;
}

.personagem {
  width: 150px;
  text-align: center;
}

.personagem img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border: 2px solid #333;
  border-radius: 5px;
  transition: transform 0.2s;
}

.personagem:hover img {
  transform: scale(1.05);
}

p {
    color:#eee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.popup {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.popup-content {
  display: flex;          
  background: #181717;
  padding: 20px;
  border-radius: 10px;
  text-align: left;     
  color: #eee;
  max-width: 600px;
  gap: 20px;              
  align-items: flex-start; 
}

.popup-content img {
  width: 150px;           
  height: 220px;
  object-fit: cover;
  border: 2px solid #333;
  border-radius: 5px;
}

.popup-detalhes h2 {
  margin: 0 0 10px 0;
}

.popup-detalhes p {
  margin: 5px 0;
  font-size: 16px;    
  color: #eee;         
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;   
  margin: 10px 0;     
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

/* JOGO */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;   
  transition: opacity 1s ease;
  z-index: 999;  
}